#splash {
    position: fixed; top: 0; left: 0; z-index: 999; width: 100vw; height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff; background: #000;
}
#splash.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background-image: url("bg 1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    min-height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
nav{
    background: black;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;

}
.text-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 25px 30px;

}
.text-header{
    
    text-align: center;
    font-weight: 500;
    font-size: 2.2rem;
    color: white;
}
.text{
    margin-top: 2rem;
    text-align: center;
    color: white;
}